@import 'bootstrap';


/* HomePage */

.main-container {
    min-height: 60vh;
    background-image: url('https://picsum.photos/1080');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.backdrop {
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.485);
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-btn {
    z-index: 25;
}


/* Form */
body {
  background-color: #c8c8c8;
}

.main-box {
  width: 100%;
  max-width: 900px;
  min-height: 500px;
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
              0 10px 10px rgba(0,0,0,0.22);
  display: flex;
  position: relative;
}

.form-container {
  width: 100%;
  max-width: 50%;
  transition: all 0.6s ease-in-out;
  position: absolute;
  top: 0;
  height: 100%;
  background-color: #fff;
}

.sign-in-container {
  left: 0;
  z-index: 2;
}

.sign-up-container {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.main-box.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
}

.main-box.right-panel-active .sign-in-container {
  transform: translateX(100%);
  opacity: 0;
  z-index: 1;
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  z-index: 100;
  transition: transform 0.6s ease-in-out;
}

.overlay {
  background: #e74c3c;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  position: relative;
  left: -100%;
  width: 200%;
  height: 100%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.main-box.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.main-box.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  height: 100%;
  width: 50%;
  text-align: center;
}

.overlay-left {
  transform: translateX(-20%);
  left: 0;
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.main-box.right-panel-active .overlay-left {
  transform: translateX(0);
}

.main-box.right-panel-active .overlay-right {
  transform: translateX(20%);
}

/* Mobile Support */
@media (max-width: 768px) {
  .overlay-container {
    display: none;
  }

  .form-container {
    max-width: 100%;
    position: relative;
  }

  .main-box {
    flex-direction: column;
    min-height: auto;
    box-shadow: none;
  }

  .sign-in-container,
  .sign-up-container {
    position: relative !important;
    opacity: 1 !important;
    transform: none !important;
    width: 100% !important;
    z-index: 1 !important;
    display: none;
  }

  .sign-in-container.active,
  .sign-up-container.active {
    display: block;
  }

  .mobile-toggle {
    border-radius: 15px 15px 0 0;
  }
}
